<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subdomain.name %>
</p>

<p>
  <strong>Subdomain:</strong>
  <%= @subdomain.subdomain %>
</p>


<%= link_to 'Edit', edit_subdomain_path(@subdomain) %> |
<%= link_to 'Back', subdomains_path %>
